.home {
    background-image: url(https://i1.wp.com/thepointsguy.com/wp-content/uploads/2019/02/chris-leipelt-766481-unsplash.jpg);
    background-size:  cover;
    background-position: center;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: "Lato";
    color: white;
    background-color: #749954;
}

h1 {
	font-weight: 700;
	font-size: 5em;
}

.content{
	padding-top: 25%;
	text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}